* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #a6b28b;
  text-align: center;
  color: #1c352d;
}
.msg-container {
  height: 99vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color:#f9f6f3;
}
.hidden {
  display: none;
}
#msg {
  font-size: 2.5rem;
  font-weight: bold;
}
#new-game-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #1c352d;
  border: none;
  border-radius: 0.5rem;
  color: #f9f6f3;
}
h1 {
  margin-top: 3rem;
}
.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}
.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  font-size: 8vmin;
  color: #1c352d;
  background-color: #f9f6f3;
}
#reset-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #1c352d;
  border: none;
  border-radius: 0.5rem;
  color: #f9f6f3;
}
